/*#about {
  background: url("http://i.imgur.com/PFdSDz7.gif") no-repeat bottom center scroll;
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);*/

  body {
    overflow-x: hidden;
  }

.intro-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.myimg {
  display: block;
  margin: auto;
  max-width:40%;
}

.btn-subme {
  margin-top: 7px;
}

/*#into {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  padding-bottom: 300px;
  text-align: center;
  color: white;
  background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}*/

#about {
  background: url("../img/downloads-bg.jpg") no-repeat bottom center scroll;
  display: table;
  width: 100%;
  padding: 100px 0;
  height: auto;
  text-align: center;
  color: white;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

/*.download-section {
  width: 100%;
  padding: 50px 0;
  color: white;
  background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}*/

#DJ {
  background: url("../img/djbg.jpg") no-repeat bottom center scroll;
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

#Production {
  background: url("../img/productionshua.jpg") no-repeat bottom center scroll;
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

#music {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}


/*#albums img {
  display: block;
    margin-right: auto;
    margin-left: auto;
    max-width:100%;
}*/

.jum1 {
  background-color: rgba(14, 14, 14, 0.75)
}

.jum2 {
  background-color: rgba(135, 135, 135, 0.5)
}

.youtubed {
  color: rgb(255, 65, 65) !important;
  border-color: rgb(255, 65, 65) !important;
}

.youtubed:hover {
  background: rgb(255, 65, 65) !important;
  color: white !important;
  text-shadow: none;
  border-color: white !important;
}

p {
  font-family: "montserrat";
}
